

.BaseModal {
  border: 1px solid rgb(204, 204, 204);
  // border: 5px solid blue;

  position: absolute;
  top: 40px;
  bottom: 40px;

  width: 800px;
  left: calc( 50% - 800px / 2 );

  // width: 50%;
  // left: 25%;

  background: rgb(255, 255, 255);
  overflow: auto;
  border-radius: 4px;
  outline: none;

  z-index: 2;

  textarea {
    resize: auto;
  }

  .actions {
    border-top: 1px dashed gray;
    padding: 0.5em; // 1em 1em 1em;

    display: flex;
    justify-content: space-between;
    align-items: baseline;

    .right {
      display: flex;
      > * {
        margin-left: 2em;
      }
    }
  }
  > .header,
  .modal-header {
    text-align: center;
    background: #eee;
    border-bottom: 1px solid #666;

    margin: 0;

    display: flex;
    justify-content: center;

    h5 {
      flex-grow: 1;
      margin: 0;
      padding: 0.5em;
    }

    .right {
      display: flex;
      align-items: center;
    }

    .close {
      font-size: 2em;
      cursor: pointer;
      margin-right: 0.25em;
    }
  }
}

.EmailFilterModal {
  .container .row:first-child .header {
    margin-top: 0;
  }
  .header {
    margin-top: 1em;
  }
}

.ReactModal__Overlay,
.ModalOverlay {
  // background-color: rgba(255, 255, 255, 0.75);
  background-color: rgba(0,0,0, 0.5);
  // background-color: transparent;

  width: 100%;
  height: 100%;
  z-index: 5;
  display: block;
  position: fixed;
  inset: 0px;

}

